<div class="footer">
    <ul class="social">
        <li>
            <a href="https://twitter.com/mrmattmendonca" target="_blank">
                <i class="fi-social-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/matt-mendonca/" target="_blank">
                <i class="fi-social-github"></i>
            </a>
        </li>
        <li>
            <a href="http://www.linkedin.com/in/matthewmendonca" target="_blank">
                <i class="fi-social-linkedin"></i>
            </a>
        </li>
    </ul>
</div>
<script src="/resources/js/scripts.combined.js"></script>
<script>jQuery(document).foundation();</script>