<div class="large-3 columns mobile menu">
    <ul>
        <li class="home">
            <h2>
                <i class="fi-home"></i>
                <a class="pjax-link" href="/">Home</a>
            </h2>
        </li>
        <li class="code">
            <h2>
                <i class="fi-clipboard-notes"></i>
                <a class="pjax-link" href="/code/">Code</a>
            </h2>
        </li>
    </ul>
</div>