<div class="content code {{ slug | raw}}">
    <h1 class="content-title">{{ content_title }}</h1>
     <ul class="breadcrumbs">
        <li><a class="pjax-link" href="/">Home</a></li>
        <li><a class="pjax-link" href="/code/">Code</a></li>
    </ul>
    {{ content | raw }}
</div>